<div class="dashboard">
    <div class="dashboard-header">
      <h2 class="dashboard_title">Dashboard</h2>
      <mat-form-field appearance="fill">
        <mat-label>Period</mat-label>
        <mat-select [formControl]="periodControl">
          <mat-option value="weekly">Weekly</mat-option>
          <mat-option value="monthly">Monthly</mat-option>
          <mat-option value="yearly">Yearly</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="dashboard_item_container" *ngIf="(role$ | async) === 'admin'">
      <div class="box_item">
        <h3 class="title">Hi🖐🏿, {{ ( username$ | async ) || 'Guess'}}</h3>
      </div>
      <div class="box_item">
        <h4>Weekly billing</h4>
        <span>
          <i class="fa-duotone fa-credit-card"></i>
          {{configService.numberFormat(0)}} Kz</span>
      </div>
      <div class="box_item">
        <h4>total shops</h4>
        <a href="#">
          <span class="mt-1"> {{configService.formatarQuantidade(dashboard_.totalShops)}}</span>
          <mat-icon mat-list-icon>inventory_2</mat-icon>
        </a>
      </div>
      <div class="box_item">
        <h4>total active orders</h4>
        <a href="#">
          <span class="mt-1"> {{configService.formatarQuantidade(dashboard_.totalOrders)}}</span>
          <mat-icon mat-list-icon>receipt</mat-icon>
        </a>
      </div>
      <div class="box_item">
        <h4>total active products</h4>
        <a href="#">
          <span class="mt-1"> {{configService.formatarQuantidade(dashboard_.totalProducts)}}</span>
          <mat-icon mat-list-icon>inventory_2</mat-icon>
        </a>
      </div>
    </div>

    <div class="dashboard_item_container" *ngIf="(role$ | async) === 'manager'">
      <div class="box_item" [ngClass]="{
        'manager_color': (role$ | async) === 'manager'
      }">
        <h3 class="title">Hi🖐🏿, {{ ( username$ | async ) || 'Guess'}}</h3>
    </div>
      <div class="box_item">
        <h4>Weekly billing</h4>
        <span>
          <i class="fa-duotone fa-credit-card"></i>
          {{configService.numberFormat(0)}} Kz</span>
      </div>
      <div class="box_item">
        <h4>total shops</h4>
        <a href="#">
          <span> {{configService.formatarQuantidade(dashboard_.totalShops)}}</span>
        </a>
      </div>
      <div class="box_item">
        <h4>total active orders</h4>
        <a href="#">
          <span> {{configService.formatarQuantidade(dashboard_.totalOrders)}}</span>
        </a>
      </div>
      <div class="box_item">
        <h4>total active products</h4>
        <a href="#">
          <span> {{configService.formatarQuantidade(dashboard_.totalProducts)}}</span>
        </a>
      </div>
    </div>

    <div class="dashboard_item_container" *ngIf="(role$ | async) === 'sales'">
      <div class="box_item" [ngClass]="{
        'sales_color': (role$ | async) === 'sales'
      }">
      <h3 class="title">Hi🖐🏿, {{ ( username$ | async ) || 'Guess'}}</h3>
    </div>
      <div class="box_item">
        <h4>products in stock</h4>
        <span>
          <i class="fa-duotone fa-credit-card"></i>
          {{configService.formatarQuantidade(dashboard.totalProductsInStock)}}</span>
      </div>
      <div class="box_item">
        <h4>Value in products</h4>
        <a href="#">
          <span [ngClass]="{
            'sales_text_color': (role$ | async) === 'sales',
            'manager_text_color': (role$ | async) === 'manager',
        }"> {{configService.numberFormat(dashboard.totalProductsSoldValue)}}</span>
        </a>
      </div>
      <div class="box_item">
        <h4>valor products sold</h4>
        <a href="#">
          <span [ngClass]="{
            'sales_text_color': (role$ | async) === 'sales',
            'manager_text_color': (role$ | async) === 'manager',
        }"> {{configService.numberFormat(0)}} kz</span>
        </a>
      </div>
      <div class="box_item">
        <h4>total active products</h4>
        <a href="#">
          <span [ngClass]="{
            'sales_text_color': (role$ | async) === 'sales',
            'manager_text_color': (role$ | async) === 'manager',
        }"> {{configService.formatarQuantidade(dashboard.totalActiveProducts)}}</span>
        </a>
      </div>
    </div>
    <div class="dashboard_container">
      <h2 class="dashboard_title" style="margin-top: 2rem;">Statistic</h2>
      <div class="wrapper">
        <div class="box_item">
          <grafico-bar-chart></grafico-bar-chart>
        </div>
        <div class="box_item" [ngClass]="{
          'admin_color': (role$ | async) === 'admin',
          'sales_color': (role$ | async) === 'sales',
          'manager_color': (role$ | async) === 'manager',
      }">
          <h2>Weekly summary</h2>

          <ul>
            <li *ngIf="(role$ | async) !== 'sales'">
              <a href="#" class="single_item">
                <span>
                  <i style="color: white;" class="fa-solid fa-flask-round-potion mr-2"></i>
                  Total sales
                </span>
                <i style="color: white;" class="fa-solid fa-arrow-up-right"></i>
              </a>
              <span>{{configService.numberFormat(summary.totalSales)}}</span>
            </li>
            <li *ngIf="(role$ | async) !== 'sales'">
              <a href="#" class="single_item">
                <span>
                  <i style="color: white;" class="fa-solid fa-flask-round-potion mr-2"></i>
                  Confirmed Orders
                </span>
                <i style="color: white;" class="fa-solid fa-arrow-up-right"></i>
              </a>
              <span>{{configService.formatarQuantidade(summary.confirmedOrderWeek)}}</span>
            </li>
            <li *ngIf="(role$ | async) !== 'sales'">
              <a href="#" class="single_item">
                <span>
                  <i style="color: white;" class="fa-solid fa-flask-round-potion mr-2"></i>
                  Completed deliveries
                </span>
                <i style="color: white;" class="fa-solid fa-arrow-up-right"></i>
              </a>
              <span>{{configService.formatarQuantidade(summary.completedDeliveriesWeek)}}</span>
            </li>
            <li *ngIf="(role$ | async) !== 'sales'">
              <a href="#" class="single_item">
                <span>
                  <i style="color: white;" class="fa-solid fa-flask-round-potion mr-2"></i>
                  New registered customers
                </span>
                <i style="color: white;" class="fa-solid fa-arrow-up-right"></i>
              </a>
              <span>{{configService.formatarQuantidade(summary.newUsers)}}</span>
            </li>
            <li>
              <a href="#" class="single_item">
                <span>
                  <i style="color: white;" class="fa-solid fa-flask-round-potion mr-2"></i>
                  Products in low stock
                </span>
                <i style="color: white;" class="fa-solid fa-arrow-up-right"></i>
              </a>
              <span>{{configService.formatarQuantidade(summary.lowStockProductsCount)}}</span>
            </li>
          </ul>
          
        </div>
        <div class="box_item" *ngIf="(role$ | async) !== 'sales'">
          <grafico-pie-chart
            [series]="orderStatusSeries"
            [labels]="orderStatusLabels"
            title="Order Status Distribution"
          ></grafico-pie-chart>
        </div>
      </div>
    </div>
  </div>