<mat-card>
  <mat-card-title>Frequent Answer and Questions</mat-card-title>
  <mat-card-content>
    <mat-table
      [dataSource]="dataSource"
      multiTemplateDataRows
      matSort
      matSortActive="id"
      matSortDirection="asc"
    >
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header="id"
          >ID</mat-header-cell
        >
        <mat-cell *matCellDef="let product"
          >{{ product.id }} <a [routerLink]="['/catalog/faqs', product.id]"></a
        ></mat-cell>
      </ng-container>
      <ng-container matColumnDef="question">
        <mat-header-cell *matHeaderCellDef mat-sort-header="question"
          >Question</mat-header-cell
        >
        <mat-cell *matCellDef="let product">{{ product.name }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="answer">
        <mat-header-cell *matHeaderCellDef mat-sort-header="answer">
          Answer
        </mat-header-cell>
        <mat-cell *matCellDef="let product">{{ product.description }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="visible">
        <mat-header-cell *matHeaderCellDef mat-sort-header="visible">
          Visibility
        </mat-header-cell>
        <mat-cell *matCellDef="let product">
          {{ product.visible | booleanText : 'Visible' : 'Hidden' }}
        </mat-cell>
      </ng-container>

      <mat-header-row
        *matHeaderRowDef="['id', 'question', 'answer', 'visible']"
      ></mat-header-row>
      <mat-row
        *matRowDef="
          let product;
          columns: ['id', 'question', 'answer', 'visible']
        "
        class="product-row"
      ></mat-row>
    </mat-table>
    <span *ngIf="(products$ | async)?.length === 0" class="empty-placeholder">
      No products found
    </span>
    <mat-paginator
      showFirstLastButtons
      hidePageSize="true"
      pageSize="50"
    ></mat-paginator>
  </mat-card-content>
  <a
    class="add-button"
    mat-fab
    color="primary"
    routerLink="/catalog/faqs/new"
    [appAuthRole]="['admin', 'manager']"
  >
    <mat-icon>add</mat-icon>
  </a>
</mat-card>
