<mat-card>
  <mat-card-title>Frequent Answer and Questions</mat-card-title>
  <mat-card-content>
    <mat-table
      [dataSource]="dataSource"
      multiTemplateDataRows
      matSort
      matSortActive="id"
      matSortDirection="asc"
    >
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header="id"
          >ID</mat-header-cell
        >
        <mat-cell *matCellDef="let faq"
          >{{ faq.id }} <a [routerLink]="['/catalog/faqs', faq.id]"></a
        ></mat-cell>
      </ng-container>
      <ng-container matColumnDef="question">
        <mat-header-cell *matHeaderCellDef mat-sort-header="question"
          >Question</mat-header-cell
        >
        <mat-cell *matCellDef="let faq">{{ faq.question }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="answer">
        <mat-header-cell *matHeaderCellDef mat-sort-header="answer">
          Answer
        </mat-header-cell>
        <mat-cell *matCellDef="let faq">{{ faq.answer }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="visible">
        <mat-header-cell *matHeaderCellDef mat-sort-header="visible">
          Visibility
        </mat-header-cell>
        <mat-cell *matCellDef="let faq">
          {{ faq.visible | booleanText : 'Visible' : 'Hidden' }}
        </mat-cell>
      </ng-container>

      <mat-header-row
        *matHeaderRowDef="['id', 'question', 'answer', 'visible']"
      ></mat-header-row>
      <mat-row
        *matRowDef="let faq; columns: ['id', 'question', 'answer', 'visible']"
        class="faq-row"
      ></mat-row>
    </mat-table>
    <span *ngIf="(faqs$ | async)?.length === 0" class="empty-placeholder">
      No faqs found
    </span>
    <mat-paginator
      showFirstLastButtons
      hidePageSize="true"
      pageSize="30"
    ></mat-paginator>
  </mat-card-content>
  <a
    class="add-button"
    mat-fab
    color="primary"
    routerLink="/catalog/faqs/new"
    [appAuthRole]="['admin', 'manager']"
    [ngClass]="{
      'admin_color': (role$ | async) === 'admin',
      'sales_color': (role$ | async) === 'sales',
      'manager_color': (role$ | async) === 'manager',
  }"
  >
    <mat-icon>add</mat-icon>
  </a>
</mat-card>
