<div class="promotions-cards-container">
  <mat-card class="promotion-card create-promotion-card" (click)="openCreatePromotionDialog()">
    <mat-card-content>
      <div class="create-promotion-content">
        <mat-icon>add_circle_outline</mat-icon>
        <span>Create New Promotion</span>
      </div>
    </mat-card-content>
  </mat-card>

  <ng-container *ngIf="promotions$ | async as promotions">
    <mat-card class="promotion-card" *ngFor="let promotion of promotions" (click)="viewPromotion(promotion)">
      <mat-card-header>
        <div mat-card-avatar class="promotion-avatar">
          <ng-container *ngIf="promotion.name; else promoIcon">
            {{ promotion.name[0] | uppercase }}
          </ng-container>
          <ng-template #promoIcon>
            <mat-icon>local_offer</mat-icon>
          </ng-template>
        </div>
        <mat-card-title>{{ promotion.name }}</mat-card-title>
        <mat-card-subtitle>{{ promotion.description }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="promotion-details">
          <div *ngIf="promotion.startDate">Start Date: {{ promotion.startDate | date:'shortDate' }}</div>
          <div *ngIf="promotion.endDate">End Date: {{ promotion.endDate | date:'shortDate' }}</div>
          <div *ngIf="promotion.discount">Discount: {{ promotion.discount + '%' }}</div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary">Ver</button>
      </mat-card-actions>
    </mat-card>
  </ng-container>
</div> 