<mat-card>
  <mat-card-title-group>
    <mat-card-title>
      <a mat-button routerLink="/catalog/promotions">
        <mat-icon>arrow_back</mat-icon>
      </a>
      Promoção #{{ (promotion$ | async)?.id }}
    </mat-card-title>
  </mat-card-title-group>
  
  <mat-tab-group dynamicHeight>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="mat-tab-icon">info</mat-icon>
        Informações
      </ng-template>
      <mat-card-content>
        <app-promotion-details
          *ngIf="promotion$ | async"
          [promotion]="(promotion$ | async) ?? null"
        ></app-promotion-details>
      </mat-card-content>
    </mat-tab>
    
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="mat-tab-icon">inventory_2</mat-icon>
        Produtos
      </ng-template>
      <mat-card-content>
        <app-promotion-products
          *ngIf="promotion$ | async"
          [promotion]="(promotion$ | async) ?? null"
        ></app-promotion-products>
      </mat-card-content>
    </mat-tab>
  </mat-tab-group>
</mat-card>
