<mat-card>
  <mat-card-title> Shops </mat-card-title>
  <mat-card-content>
    <mat-table
      [dataSource]="dataSource"
      multiTemplateDataRows
      matSort
      matSortActive="id"
      matSortDirection="asc"
      (matSortChange)="expandedUser = null"
    >
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header="id"
          >ID</mat-header-cell
        >
        <mat-cell *matCellDef="let shop">{{ shop.id }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="shopId">
        <mat-header-cell *matHeaderCellDef mat-sort-header="shopId">
          Shop Id
        </mat-header-cell>
        <mat-cell *matCellDef="let shop">{{ shop.shopId }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="shopName">
        <mat-header-cell *matHeaderCellDef mat-sort-header="shopName">
          Shop name
        </mat-header-cell>
        <mat-cell *matCellDef="let shop">{{ shop.shopName }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header="email">
          User Email
        </mat-header-cell>
        <mat-cell *matCellDef="let shop">{{ shop?.email }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="alvara">
        <mat-header-cell *matHeaderCellDef mat-sort-header="alvara"
          >Alvara</mat-header-cell
        >
        <mat-cell *matCellDef="let shop">{{ shop.alvara }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="nif">
        <mat-header-cell *matHeaderCellDef mat-sort-header="nif"
        >NIF</mat-header-cell
        >
        <mat-cell *matCellDef="let shop">{{ shop.nif }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="contactPhone">
        <mat-header-cell *matHeaderCellDef mat-sort-header="contactPhone"
          >Contact Phone</mat-header-cell
        >
        <mat-cell *matCellDef="let shop">{{ shop.contactPhone }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="address">
        <mat-header-cell *matHeaderCellDef mat-sort-header="address"
          >Address</mat-header-cell
        >
        <mat-cell *matCellDef="let shop">{{ shop.address }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="expand">
        <mat-header-cell *matHeaderCellDef aria-label="row actions">
          &nbsp;
        </mat-header-cell>
        <mat-cell *matCellDef="let shop">
          <button
            mat-icon-button
            aria-label="expand row"
            (click)="
              expandedUser = expandedUser === shop ? null : shop;
              $event.stopPropagation()
            "
          >
            <mat-icon *ngIf="expandedUser !== shop">
              keyboard_arrow_down
            </mat-icon>
            <mat-icon *ngIf="expandedUser === shop">keyboard_arrow_up</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="expandedDetail">
        <mat-cell *matCellDef="let shop" [attr.colspan]="7">
          <div
            *ngIf="expandedUser === shop"
            class="shop-detail"
            [@detailExpand]="
              shop && shop === expandedUser ? 'expanded' : 'collapsed'
            "
          >
            <app-shop-detail
              [shop]="shop"
              (cancel)="expandedUser = null"
            ></app-shop-detail>
          </div>
        </mat-cell>
      </ng-container>

      <mat-header-row
        *matHeaderRowDef="[
          'id',
          'shopName',
          'email',
          'alvara',
          'nif',
          'contactPhone',
          'expand'
        ]"
      ></mat-header-row>
      <mat-row
        *matRowDef="
          let shop;
          columns: ['id', 'shopName', 'email', 'alvara', 'nif', 'contactPhone', 'expand']
        "
        class="shop-row"
        [class.shop-expanded-row]="expandedUser === shop"
        (click)="expandedUser = expandedUser === shop ? null : shop"
      ></mat-row>
      <mat-row
        *matRowDef="let row; columns: ['expandedDetail']; when: isExpansionDetailRow"
        class="shop-detail-row"
      ></mat-row>
    </mat-table>
    <mat-paginator
      showFirstLastButtons
      pageSize="30"
      hidePageSize="true"
      (page)="expandedUser = null"
    ></mat-paginator>
  </mat-card-content>
</mat-card>
