<mat-card>
  <mat-card-title>Sales</mat-card-title>
  <mat-card-content>
    <mat-table
      [dataSource]="dataSource"
      multiTemplateDataRows
      matSort
      matSortActive="id"
      matSortDirection="asc"
    >
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header="id"
          >ID</mat-header-cell
        >
        <mat-cell *matCellDef="let sale"
          >{{ sale.id }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="updated">
        <mat-header-cell *matHeaderCellDef mat-sort-header="updated">
          Sale Date
        </mat-header-cell>
        <mat-cell *matCellDef="let sale">
          {{ sale.updated | date : 'd MMM yyyy, HH:mm' }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header="status">
          Status
        </mat-header-cell>
        <mat-cell *matCellDef="let sale">{{ sale.status }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="itemsCount">
        <mat-header-cell
          *matHeaderCellDef
          mat-sort-header="itemsCount"
          arrowPosition="before"
        >
          Items
        </mat-header-cell>
        <mat-cell *matCellDef="let sale">
          {{ sale.itemsCount }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="itemsTotal">
        <mat-header-cell
          *matHeaderCellDef
          mat-sort-header="itemsTotal"
          arrowPosition="before"
        >
          Total price
        </mat-header-cell>
        <mat-cell *matCellDef="let sale">
          {{
            sale.itemsTotal +
              sale.delivery.method.price +
              sale.payment.method.price | formatCurrency
          }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="fullName">
        <mat-header-cell *matHeaderCellDef mat-sort-header="fullName">
          Full name
        </mat-header-cell>
        <mat-cell *matCellDef="let sale">{{ sale.fullName }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="delivery">
        <mat-header-cell *matHeaderCellDef mat-sort-header="delivery">
          Delivery
        </mat-header-cell>
        <mat-cell *matCellDef="let sale">
          {{ sale.delivery.method.name }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="payment">
        <mat-header-cell *matHeaderCellDef mat-sort-header="payment">
          Payment
        </mat-header-cell>
        <mat-cell *matCellDef="let sale">
          {{ sale.payment.method.name }}
        </mat-cell>
      </ng-container>

      <mat-header-row
        *matHeaderRowDef="[
          'id',
          'updated',
          'status',
          'itemsCount',
          'itemsTotal',
          'fullName',
          'delivery',
          'payment'
        ]"
      ></mat-header-row>
      <mat-row
        *matRowDef="
          let sale;
          columns: [
            'id',
            'updated',
            'status',
            'itemsCount',
            'itemsTotal',
            'fullName',
            'delivery',
            'payment'
          ]
        "
        class="sale-row"
      ></mat-row>
    </mat-table>
    <span *ngIf="(sales$ | async)?.length === 0" class="empty-placeholder">
      No sales found
    </span>
    <mat-paginator
      hidePageSize
      pageSize="30"
      showFirstLastButtons
    ></mat-paginator>
  </mat-card-content>
</mat-card>



<app-filter-helper>
  <h2>Filter</h2>
  <mat-form-field appearance="outline" class="faq-visible">
    <mat-label>Status</mat-label>
    <mat-select>
      <mat-option value="pending">Pending</mat-option>
      <mat-option value="failed">Failed</mat-option>
      <mat-option value="confirmed">Confirmed</mat-option>
      <mat-option value="open">Open</mat-option>
      <mat-option value="cancelled">Cancelled</mat-option>
      <mat-option value="delivered">Delivered</mat-option>
      <mat-option value="refunded">Refunded</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="faq-visible">
    <mat-label>Delivery</mat-label>
    <mat-select>
      <mat-option
        *ngFor="let method of deliveryMethods$ | async"
        [value]="method.id"
      >
        {{ method.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="faq-visible">
    <mat-label>Payment</mat-label>
    <mat-select>
      <mat-option
        *ngFor="let method of paymentMethods$ | async"
        [value]="method.id"
      >
        {{ method.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</app-filter-helper>
