<mat-tab-group>
  <mat-tab label="Products">
    <div class="tab-content">
      <ng-container *ngIf="shop$ | async as shop">
        <app-products-list [shopName]="shop?.shopName"></app-products-list>
      </ng-container>
    </div>
  </mat-tab>
  <!-- <mat-tab label="Orders">
    <div class="tab-content">
      Orders for shop {{ shopId }}
    </div>
  </mat-tab> -->
  <mat-tab label="Shop Details">
    <div class="tab-content">
      <ng-container *ngIf="shop$ | async as shop; else loadingShop">
        <div *ngIf="shop; else noShop">
          <h3>{{ shop.shopName }}</h3>
          <div *ngIf="shop.address">Address: {{ shop.address }}</div>
          <div *ngIf="shop.contactPhone">Phone: {{ shop.contactPhone }}</div>
          <!-- <div *ngIf="shop.user.email">Email: {{ shop.user.email }}</div> -->
          <div *ngIf="shop.nif">NIF: {{ shop.nif }}</div>
          <div *ngIf="shop.alvara">Alvará: {{ shop.alvara }}</div>
        </div>
        <ng-template #noShop>
          <div>Shop not found.</div>
        </ng-template>
      </ng-container>
      <ng-template #loadingShop>
        <div>Loading shop details...</div>
      </ng-template>
    </div>
  </mat-tab>
</mat-tab-group> 