<mat-card>
  <mat-card-title-group>
    <mat-card-title>
      <a mat-button routerLink="/catalog/faqs">
        <mat-icon>arrow_back</mat-icon></a
      >{{ (faq$ | async)?.question }}
    </mat-card-title>
  </mat-card-title-group>
  <mat-tab-group dynamicHeight>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="mat-tab-icon">info</mat-icon>
        General
      </ng-template>
      <mat-card-content>
        <app-faq-details
          *ngIf="faq$ | async"
          [faq]="(faq$ | async) ?? null"
        ></app-faq-details>
      </mat-card-content>
    </mat-tab>
  </mat-tab-group>
</mat-card>
