<mat-toolbar
  color="primary"
  [ngClass]="{
    sales_color: (role$ | async) === 'sales',
    manager_color: (role$ | async) === 'manager'
  }"
>
  <button
    mat-icon-button
    *ngIf="matchesMedium | async"
    (click)="toggleSidenav()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{ title.getTitle() }}</span>
  <span class="spacer"></span>
  <div class="demo-section">
    <mat-icon matBadge="5" matBadgePosition="after" matBadgeColor="accent">notifications</mat-icon>
  </div>
  <span>{{
    (role$ | async) === 'sales' ? 'shopkeeper' : (role$ | async)
  }}</span>
  <button mat-icon-button (click)="logout()">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
