<mat-toolbar
  color="primary"
  [ngClass]="{
    sales_color: (role$ | async) === 'sales',
    manager_color: (role$ | async) === 'manager'
  }"
>
  <button
    mat-icon-button
    *ngIf="matchesMedium | async"
    (click)="toggleSidenav()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{ title.getTitle() }}</span>
  <span class="spacer"></span>
  <button class="demo-section" mat-button [matMenuTriggerFor]="afterMenu">
    <!-- [matBadge]="notifications.length > 0 ? notifications.length : null" -->
    <mat-icon
      [matBadge]="totalNotifications"
      matBadgePosition="after"
      matBadgeColor="accent"
      >notifications</mat-icon
    >
  </button>
  <mat-menu #afterMenu="matMenu">
  <ng-container *ngIf="totalNotifications > 0; else noNotifications">
    <button mat-menu-item *ngFor="let n of notifications">
      {{ n.title }}
    </button>
  </ng-container>

  <ng-template #noNotifications>
    <button mat-menu-item>
      Nenhuma notificação no momento
    </button>
  </ng-template>
</mat-menu>
  <span>{{
    (role$ | async) === 'sales' ? 'shopkeeper' : (role$ | async)
  }}</span>
  <button mat-icon-button (click)="logout()">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
