<mat-card>
  <form (submit)="add()" [formGroup]="addForm">
    <mat-card-title>Add shop</mat-card-title>
    <mat-card-content>
      <mat-form-field appearance="outline">
        <mat-label>Shop Name</mat-label>
        <input matInput type="shopName" formControlName="shopName" required />
        <mat-error *ngIf="addForm.controls.shopName.invalid">
          <ng-container *ngIf="addForm.controls.shopName.hasError('conflict')">
          </ng-container>
          <ng-container *ngIf="!addForm.controls.shopName.hasError('conflict')">
            Invalid shopName
          </ng-container>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Shop Alvara</mat-label>
        <input matInput type="text" formControlName="alvara" required />
        <mat-error *ngIf="addForm.controls.alvara.invalid">
          Invalid Alvara
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>NIF</mat-label>
        <input matInput type="text" formControlName="nif" />
        <mat-error *ngIf="addForm.controls.nif.invalid">
          Invalid NIF
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Shop contact Phone</mat-label>
        <input matInput type="text" formControlName="contactPhone" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Shop Address</mat-label>
        <input matInput type="text" formControlName="address" />
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-flat-button color="primary" type="submit">Add</button>
    </mat-card-actions>
  </form>
</mat-card>
